name: deploy
on:
  push:
    branches:
    - main
  workflow_dispatch:
jobs:
  ubuntu-latest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: 'Execute Targets: Deploy'
      run: dotnet run --project ./src/build/build.csproj -- Deploy --plan