name: merge-check
on:
  pull_request:
    branches:
    - '**'
  workflow_dispatch:
jobs:
  ubuntu-latest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: 'Execute Targets: MergeCheck'
      run: dotnet run --verbosity q --project ./src/build/build.csproj -- MergeCheck --plan
  windows-latest:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: 'Execute Targets: MergeCheck'
      run: dotnet run --verbosity q --project ./src/build/build.csproj -- MergeCheck --plan
  macos-latest:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: 'Execute Targets: MergeCheck'
      run: dotnet run --verbosity q --project ./src/build/build.csproj -- MergeCheck --plan